.body {
  background-color: cornflowerblue;
}

.canvas {
  display: block;
  width: 45%;
  height: 45%;
  background-color: cadetblue;
  border: 1px solid cyan;
  margin: auto;
}
.canvas-title {
  text-align: center;
  margin: auto;
}
